---
export interface Props {
  title: string;
  description: string;
  name: string;
  /* link?: string; */
  profile: string;
}

const { title, description, name, /* link, */ profile } = Astro.props;
---

<div
  class="flex-1 bg-transparentflex-col justify-start items-end gap-2.5 inline-flex text-black rounded-b-[45px] relative h-[clamp(620px,3vw,700px)] mask"
>
  <div class="flex-col justify-center items-center flex relative">
    <div
      class="h-[clamp(250px,30vw,300px)] justify-center items-center flex w-full gap-4 absolute bottom-[95%] z-0 left-0"
    >
      <div class="w-full h-full">
        <img
          class="object-contain w-full h-full object-bottom"
          src={profile}
          alt={name}
        />
      </div>
    </div>

    <div
      class="z-10 shadow-btn border border-violeta-100 flex flex-col justify-center items-start rounded-[45px] p-6 gap-5 h-auto lg:max-h-[402px] bg-white"
    >
      <div class="w-full h-full flex-col justify-start items-start inline-flex">
        <div class="text-2xl font-semibold">{name}</div>
        <div class="text-lg font-semibold">
          {title}
        </div>
      </div>
      <!-- <a
        class="top-0 right-0"
        href={link}
      >
        <img
          src="/team/lng.svg"
          alt="vector"
        />
      </a> -->

      <span class="w-full border border-violeta-100"></span>
      <p class="text-lg h-[200px] md:h-[100px] lg:h-[250px] xl:h-[180px]">
        {description}
      </p>
    </div>
  </div>
</div>

<style>
  .mask {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 36%,
      #857993 92%
    );
  }
</style>
