---
export interface Props {
  background: string;
  textColor: string;
  name1: string;
  name2: string;
  /* arrow?: string;
  link?: string; */
  image: string;
  className?: string;
}

const {
  background,
  name1,
  name2,
  /*  arrow, link, */ image,
  textColor,
  className,
} = Astro.props;
---

<div
  style={`background-color: ${background};`}
  class=`h-[310px] max-w-[600px] w-full p-6 md:p-12 rounded-[45px] shadow-card border border-black ${textColor} relative ${className}`
>
  <div class="h-full inline-flex flex-col justify-end items-start gap-[93px]">
    <span
      ><p class="text-3xl font-medium">{name1}</p>
      <p class="text-3xl font-medium">{name2}</p></span
    >

    {
      /*                   <a
                    class="justify-start items-center gap-[15px] inline-flex"
                    href={link}
                  >
                    <div class="w-[41px] h-[41px] relative">
                      <img
                        class="w-[41px] h-[41px] left-0 top-0 absolute"
                        src={arrow}
                      />
                    </div>
                    <div class="text-xl font-normal leading-7">Learn more</div>
                  </a> */
    }
  </div>
  <div
    class="absolute -top-10 left-[100px] md:left-[300px] lg:left-[160px] xl:left-[300px] max-w-[320px] md:w-[320px]"
  >
    <img src={image} />
  </div>
</div>
