---
import Container from "../shared/Container.astro";
import Topic from "../shared/Topic.astro";
import servicesData from "../Data/services.json";
import ServiceCard from "../shared/ServiceCard.astro";
import BtnContacto from "../shared/BtnContacto.astro";
---

<span id="servicios"></span>
<Container>
  <div class="relative flex flex-col items-center">
    <div class="w-full">
      <Topic title="Servicios" />
    </div>

    <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-4 py-5 lg:mb-14">
      <!-- card start-->
      {
        servicesData.map(
          (
            { background, name1, image, textColor, link, text, bullets, costo },
            index
          ) => (
            <ServiceCard
              className="card"
              textColor={textColor}
              background={background}
              name1={name1}
              image={image}
              link={link}
              text={text}
              bullets={bullets}
              costo={costo}
            />
          )
        )
      }

      <!-- card end-->
    </div>

    <div
      class="w-[90%] xl:w-[70%] relative my-6 p-5 md:p-14 bg-zinc-300 rounded-[45px]"
    >
      <div class="flex w-full md:w-2/3 gap-4">
        <div>
          <div
            class="w-full flex-col justify-start items-center md:items-start gap-[26px] inline-flex text-black"
          >
            <!--  <div class="text-3xl font-medium">Hagamos que ocurra.💪​</div> -->
            <div
              class="text-2xl font-normal text-balance text-center md:text-start"
            >
              Para <span class="font-semibold">vender seguros</span> por internet
              se necesita planificación, tecnología y mentalidad de negocios.
            </div>
            <BtnContacto texto="Agendar una reunión" />
          </div>
        </div>
        <div
          class="hidden md:grid md:absolute -top-10 left-[45%] w-[500px] md:w-[380px] md:left-[60%] lg:-top-20"
        >
          <img
            src="/services/rocket.avif"
            alt="Cohete disparando"
          />
        </div>
      </div>
    </div>
  </div>
</Container>
<!-- <style>
  .serviceCardContainer {
    place-items: center;
  }

  @media (min-width: 1024px) {
    .serviceCardContainer:nth-child(2) {
      place-items: center;
    }

    .serviceCardContainer:nth-child(1) {
      place-items: end;
    }
  }
</style> -->

<!-- <script>
  const cardsImg = document.querySelectorAll(".img") as any;
  cardsImg.forEach((img: any) => {
    img.addEventListener("mouseenter", () => {
      cardsImg.classList.add("scale-");
    });
    cardsImg.addEventListener("mouseleave", () => {
      img.classList.remove("scale-105");
    });
  });
</script>
 -->
<!-- <script>
  const card = document.getElementById("card") as any;

  card.forEach((c: any) => {
    c.addEventListener("mouseenter", () => {
      handleHover(true);
    });
    c.addEventListener("mouseleave", () => {
      handleHover(false);
    });
  });

  const handleHover = (isHovered: any) => {
    const allImages = document.querySelectorAll(".image") as any;
    allImages.forEach((img: any) => {
      isHovered;
      img.classList.add = "scale-[0.4]";
    });
  };
</script> -->
<!--  -->
