---
import Container from "./shared/Container.astro";
import Topic from "./shared/Topic.astro";
import servicesData from "./Data/services.json";
import ServiceCard from "./shared/ServiceCard.astro";
import BtnContacto from "./shared/BtnContacto.astro";
---

<span id="servicios"></span>
<Container>
  <div class="relative flex flex-col items-center">
    <Topic
      title="Servicios"
      description=" Nuestras soluciones de marketing digital a la medida, ayudan a tus negocios a crecer y a superar todos los objetivos"
    />

    <div class="flex-row items-center py-5 lg:mb-14">
      <div
        class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-12"
      >
        <!-- card start-->
        {
          servicesData.map(
            ({
              background,
              name1,
              name2,
              /*  arrow, link, */ image,
              textColor,
            }) => (
              <ServiceCard
                textColor={textColor}
                background={background}
                name1={name1}
                name2={name2}
                image={image}
              />
            )
          )
        }
        <!-- card end-->
      </div>
    </div>

    <div class="flex-row items-center my-6 p-14 bg-zinc-200 rounded-[45px]">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
          <div
            class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
          >
            <div class="text-3xl font-medium">
              Hagamos que las cosas ocurran
            </div>
            <div class="text-lg font-normal">
              Contactanos hoy para conocer mas sobre como nuestros servicios de
              marketing digital puede ayudar a tu negocio a crecer y tener
              extito en linea.
            </div>
            <BtnContacto texto="Obtene tu cotización gratis" />
          </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-20">
          <img
            src="/services/Illustration.svg"
            width="50%"
            alt="cat"
          />
        </div>
      </div>
    </div>
  </div></Container
>
